//Abstracts
@import "abstracts/variables";
//Vendors
@import "vendors/bootstrap";
@import "../node_modules/@glidejs/glide/dist/css/glide.theme.min.css";

//Base
@import "base/typography";
//Layout
@import "layout/header";
@import "layout/navigation.scss";
@import "layout/footer";
//Components
@import "components/recipe-slide-card";
@import "components/button";
@import "components/recipe-card";
//Pages
@import "pages/login-reg";
@import "pages/recipe";
//Themes
@import "themes/theme";



.darkBut{
    color: white;
    
    background-color: black;
    border-radius: 50%;
}